<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Character Clicker</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/materialize.min.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body> 
  <nav>
    <div class="nav-wrapper">
      <a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
      <ul id="nav-mobile" class="right">
        <li><a href="/logout">Log out</a></li>
        <li><a href="/maker">Main</a></li>
        <li><a href="/battle">Battle</a></li>
        <li class="active"><a href="/profile">Profile</a></li>
      </ul>
    </div>
  </nav>
  <section id="content"></section>
  <div id="characterMessage"><p id="errorMessage"></p></div>
  <input id="csrfToken" type="hidden" name="_csrf" value={props.csrf} />
  <script src="/assets/profileBundle.js"></script>
</body>
</html>